/*
* This file is to customize the template project
*/
.sx-top-menu>li
{
    font-size: 17px;
}

.logo
{
    font-size: 21px;
}

.fixed .logo
{
    font-size: 14px;
}

#footer>.copyright .container
{
    line-height: 60px;
}

#footer>.copyright {
    padding: 0px;
}